[Unit]
Description=packetcrypt daemon (PKT miner)
After=network.target

[Service]
Restart=on-failure
RestartSec=3
StartLimitBurst=5
StartLimitInterval=0
User=pkt
ExecStart=/usr/local/bin/packetcrypt ann --config /home/pkt/packetcrypt-config.json

[Install]
WantedBy=multi-user.target